.App{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-evenly;
}

.card{
  width:20vw;
  background-color: lightgray;
  margin-bottom: 20px;
  margin-top: 20px;


}
.title,.rating,.releasedate{
  text-align: center;
}

